
.all-hotels-container {
    padding: 20px;
    text-align: center;
  }
  
  .hotel-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .hotel-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .hotel-card:hover {
    transform: translateY(-5px);
  }
  
  .hotel-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .hotel-details {
    padding: 15px;
    background-color: #fff;
  }
  
  .hotel-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .hotel-description {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
  }
  
  .hotel-location {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e67e22;
  }
  